.jumbotron {
    text-align: center;
}

.container-fluid {
    padding: 60px 50px;
}
#holder {
    display: flex;
    display: -webkit-flex;
    width: 35%;
    max-width: 500px;
    height: 35%;
    max-height: 500px;
    margin: 20px auto;
}

.emptyHolder {

    border: 10px dashed #ccc;

}


input[type=text] {
    width: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
    color: blue;
}

input.input-box {
    margin:auto;
    margin-bottom:10px;
}

.jumbotron {
    background: #404040;
}

.hoverBox {
    border: 20px dashed #ccc;
    cursor: pointer;

}

.footer {
  vertical-align: right;
  bottom: 10px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
