/*.emptyHolder {

    border: 10px dashed #ccc;

}
.hoverBox {
    border: 20px dashed #ccc;
    cursor: pointer;

}

.footer {
  vertical-align: right;
  bottom: 10px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
*/
#holder {
    /*display: block;
    display: -webkit-block;*/
  /*  width: 35%; */
  /*  max-width: 520px;*/
    width: 540px;
    /*height: 35%;*/
    height: 540px;
  /*  max-height: 500px;*/
  /*  margin-top: 5%;*/
    border: 10px dashed #ccc;
}
.container-fluid {
    padding: 30px 50px;
}
