.jumbotron {
    text-align: center;
}

.container-fluid {
    padding: 60px 50px;
}
#holder {
    display: block;
    display: -webkit-block;
  /*  width: 35%; */
    max-width: 500px;
    width: 500px;
  /*  height: 35%; */
    height: 500px;
    max-height: 500px;
    margin: 20px auto;
    border: 10px dashed #ccc;
    margin-top: auto;
}

.emptyHolder {

    border: 10px dashed #ccc;

}

.jumbotron {
    background: #404040;
}

.hoverBox {
    border: 20px dashed #ccc;
    cursor: pointer;

}

.footer {
  vertical-align: right;
  bottom: 10px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
